@font-face {
	font-family: "iconfont"; /* Project id 1980901 */
	src: url('//at.alicdn.com/t/font_1980901_dvp3hgd9tk.woff2?t=1623506073265') format('woff2'),
		 url('//at.alicdn.com/t/font_1980901_dvp3hgd9tk.woff?t=1623506073265') format('woff'),
		 url('//at.alicdn.com/t/font_1980901_dvp3hgd9tk.ttf?t=1623506073265') format('truetype');
  }

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-buildings_castle:before {
	content: "\ef16";
  }
  
  .icon-send-email-:before {
	content: "\e6a0";
  }
  
  .icon--panda:before {
	content: "\e647";
  }
  
  .icon-github:before {
	content: "\e885";
  }
  